* {
  box-sizing: border-box;
}

.js-results-top3{
	max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.js-results-last3{
	max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
	
}

.colOne, .colTwo{
	float: left;
	padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.colOne{
	width: ;
}

.colTwo{
	width: ;
}

.js-results-top3::before,
.js-results-top3::after {
  display: table;
  content: '';
}

.js-results-last3::before,
.js-results-last3::after {
  display: table;
  content: '';
}

.js-results-last3::after {
  clear: both;
}

.js-results-top3::after {
  clear: both;
}
